a {
    color: #0061ff;
    text-decoration: none;
}

/*以下由Earthworm收集*/
table {
    margin-left: 12%;
    border-collapse: collapse;
}
table, td, th {
    border: 1px solid #DFE2E5;
}
td {
    padding: 6px;
    text-align: center;
}
/*以上由Earthworm收集*/

#f {
    border: solid;
    width: fit-content;
    padding: 5px;
    background: #ffffe8;
}

#f span a {
    background: #ffeaff;
    color: #000000;
    border: solid;
    border-width: 2px;
}
