h1{font-size:32px;font-weight:600}
h2{font-size:24px;font-weight:600}
h3{font-size:20px;font-weight:600}
h4{font-size:16px;font-weight:600}
h5{font-size:14px;font-weight:600}
h6{font-size:12px;font-weight:600}

hr {
    height:.25em;
    padding:0;
    margin:24px 0;
    background-color:#e1e4e8;
    border:0
}

a{
    color:#0366d6;
    text-decoration:none
}
a:link, a:visited {
    color: #0000FF;
    text-decoration: none;
}
a:active {
    color: #FFFFFF;
    text-decoration: underline;
    background-color: #0000FF;
}
a:hover {
    text-decoration: underline;
}

sub {
    bottom:-0.25em
}
sup {
    top:-0.5em
}

#c {
    color:#0376d6;
    text-decoration:none
}
